@*
    Result of entry will go here
*@
<p style="font-size:x-small;color:red"><u>Note:</u><br />
* If space is the Most Used Character, it will be followed by the next most used character(s).<br />
* If space is the Least Used Character, it will be followed by the next least used character(s).<br />
* Letter casing is ignored in analysis. All will be counted as lower case.<br />
* Words are counted as characters before a space or ending punctuation ( .!?,;: ).</p>
<br />

<h6><b>Entry:</b></h6>

<table class="table table-bordered">
    <tr>
        <td>@ViewBag.UserEntry</td>
    </tr>
</table>
<br />

<table class="table table-bordered">
    <tr>
        <td>Letter Count</td>
        <td>@ViewBag.LetterCount</td>
    </tr>
    <tr>
        <td>Number Count</td>
        <td>@ViewBag.NumberCount</td>
    </tr>
    <tr>
        <td>Other Count</td>
        <td>@ViewBag.OtherCount</td>
    </tr>
    <tr>
        <td>Space Count</td>
        <td>@ViewBag.SpaceCount</td>
    </tr>
    <tr>
        <td>Total Count</td>
        <td>@ViewBag.TotalCount</td>
    </tr>
    <tr>
        <td>Most Used Character(s)</td>
        <td>@ViewBag.MostChar</td>
    </tr>
    <tr>
        <td>Least Used Character(s)</td>
        <td>@ViewBag.LeastChar</td>
    </tr>
    <tr>
        <td>Word Count</td>
        <td>@ViewBag.WordCount</td>
    </tr>
    <tr>
        <td>Most Used Word(s)</td>
        <td>@ViewBag.MostWord</td>
    </tr>
    <tr>
        <td>Least Used Word(s)</td>
        <td>@ViewBag.LeastWord</td>
    </tr>

</table>
<br />

<table class="table table-bordered" style="width:50%">
    <tr>
        <th style="width:50%">Character</th>
        <th>Count</th>
    </tr>
    @for (int i = 0; i < ViewBag.CharList.Count; i++)
    {
        <tr>
            <td>@ViewBag.CharList[i]</td>
            <td>@ViewBag.CharListCount[i]</td>
        </tr>
    }
</table>
<br />

<table class="table table-bordered" style="width:50%">
    <tr>
        <th style="width:50%">Word</th>
        <th>Count</th>
    </tr>
    @for (int i = 0; i < ViewBag.WordList.Count; i++)
    {
        <tr>
            <td>@ViewBag.WordList[i]</td>
            <td>@ViewBag.WordListCount[i]</td>
        </tr>
    }
</table>


