@*
    Result of modify will go here
*@
@model ModifyModel

<table cellpadding="0" cellspacing="0">
    <tr>
        @{
            if (ViewBag.ResultStatus == "Modification Unsuccessful:")
            {
                <td style="font-size:larger;color:red">
                    <b>@ViewBag.ResultStatus</b> @ViewBag.ResultMessage
                </td>
            }
            else
            {
                <td style="font-size:larger;color:limegreen">
                    <b>@ViewBag.ResultStatus</b> @ViewBag.ResultMessage
                </td>
            }
        }
    </tr>
</table>
<br />

<h6><b>Entry:</b></h6>

<table class="table table-bordered" style="height:150px; background-color:lightgrey;">
    <tr>
        <td>@ViewBag.UserModEntry</td>
    </tr>
</table>

<table>
    <tr>
        <td style="font-size:small;background-color: yellow;">* If a modification option is selected while entry is empty, you will be redirected to inital modification entry screen.
</tr>
</table>
<br />
<br />

<h6><b>Make More Changes to Current Entry</b></h6>
@using (Html.BeginForm("FormModify", "Home", FormMethod.Post))
{
<table cellpadding="0" cellspacing="0">
    <tr hidden>
        <td>@Html.TextAreaFor(m => m.UserModEntry, new { style = "width:600px; height:150px;" })</td> <!--This is being overriden in Controller to the ModifiedText, if there is one-->
    </tr>
    <tr hidden>
        @{
            if (!string.IsNullOrEmpty(ViewBag.UserModEntry))
            {
                <td><input type="hidden" name="modified" value="@ViewBag.UserModEntry" /></td>
            }
            else
            {
                <td><input type="hidden" name="modified" value="****ViewBag.UserModEntry***null***ViewBag.UserModEntry****" /></td>
            }
        }
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Remove Item from Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Replace Item in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Order All Characters in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Reverse Entire Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Capitalize All Letters in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Lowercase All Letters Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Order All Words in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Reverse Each Word in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Capitalize First Letter of Each Word in Text" /></td>
    </tr>
</table>
}
<br />

<h6><b>Start Over with New Entry to Modify</b></h6>
@using (Html.BeginForm("ModifyEntry", "Home", FormMethod.Get))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td><input type="submit" value="New Entry" /></td>
        </tr>
    </table>
}

<br />

<table cellpadding="0" cellspacing="0" style="border-top: thin solid black;width:100%">
    <tr>
        <td style="font-size:small">*Remove and replace modifications are case sensitive.</td>
    </tr>
    <tr>
        <td style="font-size:small;">*When ordering all characters, if spaces are included, the spaces will be ordered to the front of the modified entry.</td>
    </tr>
    <tr>
        <td style="font-size:small;">*Words are counted as characters before a space or ending punctuation ( .!?,;: ).</td>
    </tr>
    <tr>
        <td style="font-size:small;">*For ordering words, reversing each word, and capitalizing first letter of each word, all ending punctuations will be removed.</td>
    </tr>
</table>

<script>
    function changeStatus(id)
    {
        $("#UserModEntry").val(id);
    }
</script>